body{
    background-image: url('../img/background-config.png');
}

main{
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 800px;
}

h1{
    font-size: 50px;
    margin: 50px 0;
}

#abas-config{
    background-color: #FFD93B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 630px;
    border: solid 3px black;
}

#abas-config > span{
    background-color: black;
    width: 2px;
    height: 80%;
}

#abas-config > div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

p{
    font-size: 20px;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

.pagina > div{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 500px;
    margin: 15px;
}

.div-linha{
    display: flex;
    width: 250px;
}

input[type="number"]{
    font-size: 20px;
    height: 30px;
    width: 40px;
    text-align: center;
}

.radio-ind p{
    margin-left: 30px;
}

.valor-numerico{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#pontos-rodada > div{
    justify-content: space-between;
    width: 320px;
    margin: 5px;
}

#pontos-rodada > div > div{
    display: flex;
}

#pontos-rodada input[type="number"]{
    width: 30px;
    height: 30px;
    font-size: 15px;
}

#pontos-rodada p, #tempoMax p{
    margin: 0px 10px;
}

#forma-pontuar > div{
    width: 350px;
    margin-top: 5px;
}


#tempoMax > div{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}

#tempoMax > div{
    justify-content: flex-end;
    width: 200px;
    margin: 5px;
}

footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    text-align: center;
    width: 150px;
    height: 100;
}

button:hover{
    cursor: pointer;
}

@media screen and (max-width: 1180px) {
   
    main{
        height: 100%;
        width: 100%;
    }

    body{
        background-image: none;
    }

    h1{
        font-size: 36px;
    }

    input{
        border: solid 2px black;
    }
    
    #abas-config{
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: 20px;
    }

    .pagina div{
        width: 300px;
    }

    #pontos-rodada > div{
        margin-left: 70px;
    }

    .div-linha{
        margin-left: 80px;
    }

    #tempoMax > div{
        margin-left: 50px;
    }

    #tempoMax input{
        width: 28px;
        height: 28px;
        font-size: 16px;
    }

    #pontos-rodada input[type="number"]{
        margin-right: 40px;
    }

    .max-min{
        justify-content: space-between;
    }

    #forma-pontuar div{
        display: flex;
        align-items: start;
    }

    #forma-pontuar div{
        width: 280px;
        margin-left: 20px;
    }

    h2{
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }

    footer{
        height: 130px;
    }
}


