main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
}

.hexagon{
    background-color: #100816;
    color: aliceblue;

    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;

    width: 400px;
    height: 550px;
    border-radius: 33px;
}


.hexagon::before {
    content: "";
    width: 0;
    height: 0;
    position: relative;
    bottom: 47px;
    border-left: 180px solid transparent; /* Lado esquerdo transparente */
    border-right: 180px solid transparent; /* Lado direito transparente */
    border-bottom: 50px solid #100816; /* Lado inferior (a cor define a cor do triângulo) */
    border-radius: 100px;
}

.hexagon::after {
    content: "";
    width: 0;
    height: 0;
    position: relative;
    top: 70px; 
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 50px solid #100816;
    border-radius: 50px;
    transform: rotate(180deg);
}

.hexagon h1{
    font-size: 60px;
    border-bottom: solid 3px white;
}

.hexagon span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 48px;
}

button{
    color: white;
    font-size: 28px;
}


@media screen and (max-width: 530px){

    .hexagon h1{
        font-size: 38px;
    }

    .hexagon{
        width: 300px;
        height: 500px;
        border-radius: 33px;
        padding-bottom: 30px;
        justify-content: space-between;
        margin: 250px;
    }

    .hexagon::before{
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        bottom: 40px;
    }

    .hexagon::after{
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
    }

}