*{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Bungee', cursive;
    font-family: 'Concert One', cursive;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #FFD93B;
    background-image: url("/img/background-padrao.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main > div{
    width: 100%;
    height: 100%;
    text-align: center;
}

#nome-jogador{
    background-color: #FFD93B;
    margin: 80px;
    padding: 30px;
    border: solid 3px black;
}

#placar{
    background-color: #FFD93B;
    margin: 80px;
    padding: 30px;
    border: solid 3px black;
}

#placar > h4{
    font-size: 40px;
}

#div-central{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#div-central > div{
    margin: 50px;
}

#palavra{
    background-color: black;
    color: #FFD93B;
    border-radius: 3px;
    border: solid 5px white;
    font-size: 100px;
    margin: 20px 0px;
    padding: 10px;
}

#div-pulos{
    margin: 20px;
    display: flex;
    justify-content: center;
}

#bt-pular{
    background-color: #1b1e22;
    color: yellow;
    font-size: 28px;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    margin-right: 5px;
}

#div-lateral-dir{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 150px;
}

#div-lateral-dir > span{
    margin: 10px;
    width: 50px;
    border: solid 3px black;
}

#div-lateral-dir i{
    cursor: pointer;
}

.ocultar{
    display: none;
}

.bt-iniciar-parar {
    background-color: rgb(35, 233, 52);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 3px;
    font-weight: bold;
    width: 200px;
}

#bt-parar{
    background-color: red;
    color: aliceblue;
}

#modal-pontuar{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

#modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;  /*15% from the top and centered */
    padding: 20px;
    border: 5px solid #12251a;
    border-radius: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
    color:black;
}

#modal-content > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-content > div > div{
    margin: 40px;
}

#modal-content p{
    margin: 5px;
}

#modal-content i:hover{
    cursor: pointer;
}

#time-jogou{
    color: blue;
}

