main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main > div{
    width: 100%;
    height: 100%;
    text-align: center;
}

.abas-lateral-esq{
    opacity: 0.5;
    background-color: #000000;
    color: #ffffff;
    margin: 80px;
    padding: 30px;
    border: solid 3px rgb(255, 253, 253);
    border-radius: 10px;
}

.abas-lateral-esq p:first-child{
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px;
    text-align: start;
    margin: 0;
}

#nome-jogador{
    margin: 0;
}

#placar > h4{
    font-size: 40px;
}

#div-central{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#div-central > div{
    margin: 50px;
}

#palavra{
    background-color: black;
    color: #FFD93B;
    border-radius: 20px;
    border: solid 5px white;
    font-size: 100px;
    margin: 20px 0px;
    padding: 10px;
}

#div-pulos{
    margin: 20px;
    display: flex;
    justify-content: center;
}

#bt-pular{
    background-color: #050505;
    color: yellow;
    font-size: 28px;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    margin-right: 5px;
    padding: 0;
}

#div-lateral-dir{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 150px;
}

#div-lateral-dir > span{
    margin: 10px;
    width: 50px;
    border: solid 3px black;
}

#div-lateral-dir i{
    cursor: pointer;
}

.ocultar{
    display: none;
}

.bt-iniciar-parar {
    background-color: rgb(35, 233, 52);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 3px;
    font-weight: bold;
    width: 200px;
}

#bt-parar{
    background-color: red;
    color: aliceblue;
}

.modal-ap{
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #12251a;
    border-radius: 20px;
    width: 40%; 
    color:black;
}

#div-pontuar > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-pontuar > div > div{
    margin: 40px;
}

#div-pontuar p{
    margin: 5px;
}

#div-pontuar i:hover{
    cursor: pointer;
}

#time-jogou{
    color: blue;
}

#vitoria{
    background-color: #333232;
    color: white;
    border: 2px solid #FFD93B;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px 120px;
    width: 50%;
    height: 330px;
}

#vitoria-info{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#vitoria-info > div{
    display: flex;
    align-items: center;
}

#vitoria-info p, span{
    margin: 0px;
    font-size: 35px;
    font-weight: bold;
}

#vitoria-info i{
    margin-left: 15px;
}

#botoes{
    display: flex;
    flex-flow: column;
    margin-top: 30px;
}

#botoes button{
    background-color: #2B3244;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
    margin: 3px; 
}

#time-ganhador{
    color: #38B6FF;
}

#div-config{
    background-color: #17181b;
    color: white;
    margin: 10% auto;
    height: 500px;
    overflow: auto;
    border: 2px solid #FFD93B;
}

#div-config *{
    margin: 0;
}

#div-config h2{
    color: #FFD93B;
    font-size: 32px;
}

#div-config p{
    font-size: 20px;
}

#div-config > div{
    margin: 30px;
}

#div-config > div > div{
    margin: 6px;
}

#div-config input{
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

#div-config input[type="radio"]{
    transform: scale(0.5);
}

.ajuste-posicao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
}

#fechar-modal-config{
    font-size: 20px;
    position: fixed;
    width: 55px;
    border: solid 2px #FFD93B;
    border-radius: 50px;
}

#fechar-modal-config:hover{
    cursor: pointer;
}
