main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
}

h1{
    font-size: 50px;
    margin-bottom: 50px;
}

main > div{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: start;
    width: 250px;
}

div > p{
    margin-left: 50px;
}

div > input{
    transform: scale(1.5);
}

button{
    margin-top: 50px;
}

@media screen and (max-width: 530px) {

    main > div{
        margin-left: 60px;
    }

    h1{
        font-size: 38px;
    }

    p{
        font-size: 26px;
    }

    button{
        position: relative;
        bottom: 20px;
    }
    
}