*{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Bungee', cursive;
    font-family: 'Concert One', cursive;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #FFD93B;
    background-image: url('../img/background-padrao.png');
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    background-color: rgb(2, 2, 2);
    color: #FFD93B;
    border-radius: 10px;
    padding: 10px;
}

button:hover{
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    body{
        background-image: none;
    }
}