body{
    background-image: url('../img/background-times.png');
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
}

h1{
    font-size: 50px;
    margin-bottom: 50px;
}

main > div > div{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: start;
    width: 400px;
}

div > div > p{
    width: auto;
    text-align: center;
}

div > div > input{
    width: 80px;
    text-align: center;
    margin-left: 20px;
}

button{
    margin-top: 50px;
}

@media screen and (max-width: 1300px){

    body{
        background-image: none;
    }

    main > div{
        height: 300px;
    }

    main > div > div{
        width: 300px;
    }

    div > div > input{
        width: 40px;
        font-size: 22px;
        border: solid 3px black;
    }

    h1{
        font-size: 36px;
    }

    p{
        font-size: 25px;
    }

    button{
        position: relative;
        bottom: 20px;
    }

}