body{
    background-image: url('../img/background-times.png');
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
}

h1{
    font-size: 50px;
    margin-bottom: 50px;
}

main > div > div{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: start;
    width: 400px;
}

div > div > p{
    width: auto;
    text-align: center;
}

div > div > span{
    border: 3px solid black;
    border-radius: 10px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

input[type="range"]{
    width: 300px;
    height: 10px;
    text-align: center;
}

input[type="range"]::-moz-range-progress {
    background-color: #191c1f;
}

input[type="range"]::-webkit-progress-value {
    background-color: #191c1f;
}

button{
    margin-top: 50px;
}

@media screen and (max-width: 1300px){

    body{
        background-image: none;
    }

    main > div{
        height: 300px;
    }

    main > div > div{
        width: 300px;
    }

    h1{
        font-size: 36px;
    }

    p{
        font-size: 25px;
    }

    button{
        position: relative;
        bottom: -80px;
    }

}